@use "../utilities/variables" as var;
@use "../utilities/mixins" as mixins;


button {
    cursor: pointer;
}

.bookmark-button {
    border: none;
}

.filter-button {
    width: 63px;
    height: 63px;
    border-radius: var.$border-radius-5px;
    border: none;

    @include mixins.Typography($color: var.$color-text-gray,
        $font-family: var.$font-InterV_Semi,
        $line-height: 14px,
        $letter-spacing: 0.1px);
}

.filter-button:hover {
    background-color: var.$bg-color-card;
    /*color: var.$color-text-red;*/
}