@use "../utilities/variables" as var;
@use "../utilities/mixins" as mixins;

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 43px;
  padding-top: 35px;
  padding-bottom: 28px;

  div {
    .title-first-span,
    .title-second-span {
      @include mixins.Typography(
        $font-family: var.$font-InterV,
        $font-size: 32px,
        $font-weight: 900,
        $line-height: 39px
      );
    }

    .title-first-span {
      color: var.$color-text-red;
    }

    .title-second-span {
      color: var.$color-text-gray;
    }
  }
}

.search-bar-form-wrapper {
  width: 725px;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: var.$bg-color-card;
  border-radius: 10px;

  img {
    height: 19.64px;
    width: 19.64px;
    margin-left: 15.15px;
    margin-top: 15.15px;
    margin-bottom: 15.21px;
    margin-right: 15.21px;
  }

  input {
    flex-grow: 2;
    border: none;
    border-radius: 10px;
  }

  input::placeholder {
    height: 20px;
    width: 92px;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    @include mixins.Typography(
      $color: var.$color-text-gray,
      $font-family: var.$font-InterV,
      $font-size: 15px,
      $line-height: 20px
    );
    mix-blend-mode: normal;
    opacity: 0.4;
  }

  input:focus {
    outline: none;
  }
}
