@use "../utilities/variables" as var;
@use "../utilities/mixins" as mixins;

.wrapper {
  @include mixins.flex-row();
  justify-content: space-evenly;
  align-items: center;
  gap: 43px;
  padding-top: 35px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(var.$color-line-gray, 0.1);

  div {
    @include mixins.title-span();
  }
}

.search-bar-form-wrapper {
  @include mixins.flex-row();
  width: 725px;
  height: 50px;
  background-color: var.$bg-color-card;
  border-radius: 10px;

  img {
    height: 19.64px;
    width: 19.64px;
    margin-left: 15.15px;
    margin-top: 15.15px;
    margin-bottom: 15.21px;
    margin-right: 15.21px;
  }

  input {
    flex-grow: 2;
    border: none;
    border-radius: 10px;
  }

  input::placeholder {
    height: 20px;
    width: 92px;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    @include mixins.Typography(
      $color: var.$color-text-gray,
      $font-family: var.$font-InterV,
      $font-size: 15px,
      $line-height: 20px
    );
    mix-blend-mode: normal;
    opacity: 0.4;
  }

  input:focus {
    outline: none;
  }
}
