@use "_breakpoints" as breakpoint;
@use "variables" as var;

/*** Media mixin ***/
@mixin lg {
  @media (max-width: breakpoint.$screen-lg-max) {
    @content;
  }
}

@mixin md {
  @media (max-width: breakpoint.$screen-md-max) {
    @content;
  }
}

@mixin sm {
  @media (max-width: breakpoint.$screen-sm-max) {
    @content;
  }
}

/*** Flex direction mixins ***/

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

/*** Typography mixin ***/

@mixin Typography(
  $color: null,
  $font-family: null,
  $font-weight: null,
  $font-size: null,
  $line-height: null,
  $letter-spacing: null
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

/*** Title styling mixin ***/

@mixin title-span() {
  span {
    @include Typography(
      $font-family: var.$font-InterV,
      $font-size: 32px,
      $font-weight: 900,
      $line-height: 39px
    );
  }

  .title-first-span {
    color: var.$color-text-red;
  }

  .title-second-span {
    color: var.$color-text-gray;
  }
}
