/*** Colors ***/

$bg-color-body: #f2f2f2;
$bg-color-card: #ffffff;
$bg-color-navbar: #bb1e1e;

$color-text-black: #000000;
$color-text-gray: #1d1d1b;
$color-text-white: #ffffff;
$color-text-blue: #1e71bb;
$color-text-red: #bb1e1e;

$color-line-gray: #979797;
$color-line-whitegray: #f4f5f8;

/*** Border ***/

$border-radius-5px: 5px;
$border-radius-6px: 6px;
$border-radius-8px: 8px;
$border-radius-10px: 10px;

/*** Fonts ***/

$font-Inter: "Inter";
$font-InterV: "InterV";
$font-InterV_Semi: "InterV_Semi";
$font-InterV_Medium: "InterV_Medium";
$font-InterV_Bold: "InterV_Bold";
$font-sans-serif: "sans serif";

$font-size-10px: 10px;
