@use "../utilities/variables" as var;
@use "../utilities/mixins" as mixins;

:root {
  font-family: var.$font-Inter, var.$font-sans-serif;
}

body {
  @include mixins.flex-column();
  background-color: var.$bg-color-body;
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;
  height: auto;

  &::-webkit-scrollbar {
    height: 68px;
    width: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #0000003d;
    border-radius: 10px;
    height: 68px;
    width: 15px;
  }
}

.container {
  @include mixins.flex-column();
  margin-right: 170px;
  margin-left: 175px;
  gap: 24px;
}

.inner-container {
  @include mixins.flex-row();
}

.article-list-wrapper {
  @include mixins.flex-column();
  gap: 16px;
  padding-left: 25px;
  padding-right: 20px;

  div {
    flex-grow: 2;
  }
}
