/*** Colors ***/
/*** Border ***/
/*** Fonts ***/
/*** Breakpoints ***/
/*** Media mixin ***/
/*** Flex direction mixins ***/
/*** Typography mixin ***/
:root {
  font-family: "Inter", "sans serif";
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-right: 170px;
  margin-left: 175px;
  gap: 24px;
}

.inner-container {
  display: flex;
  flex-direction: row;
}

.article-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 25px;
  padding-right: 20px;
}
.article-list-wrapper div {
  flex-grow: 2;
}

.navbar {
  background-color: #bb1e1e;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-text {
  display: flex;
  flex-direction: row;
  margin-left: 170px;
  justify-content: center;
  align-items: center;
  gap: 46px;
}
.navbar-text .p-first {
  color: #ffffff;
  font-family: "InterV_Bold";
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.13px;
}
.navbar-text .p-second {
  color: #ffffff;
  font-family: "InterV";
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.12px;
}

.navbar-buttons {
  margin-right: 217px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 43px;
  padding-top: 35px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.1);
}
.wrapper div .title-first-span,
.wrapper div .title-second-span {
  font-family: "InterV";
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
}
.wrapper div .title-first-span {
  color: #bb1e1e;
}
.wrapper div .title-second-span {
  color: #1d1d1b;
}

.search-bar-form-wrapper {
  display: flex;
  flex-direction: row;
  width: 725px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px;
}
.search-bar-form-wrapper img {
  height: 19.64px;
  width: 19.64px;
  margin-left: 15.15px;
  margin-top: 15.15px;
  margin-bottom: 15.21px;
  margin-right: 15.21px;
}
.search-bar-form-wrapper input {
  flex-grow: 2;
  border: none;
  border-radius: 10px;
}
.search-bar-form-wrapper input::placeholder {
  height: 20px;
  width: 92px;
  margin-left: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #1d1d1b;
  font-family: "InterV";
  font-size: 15px;
  line-height: 20px;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.search-bar-form-wrapper input:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.button-get {
  height: 40px;
  width: 69px;
  border-radius: 8px;
  border: none;
  color: #1d1d1b;
  font-family: "InterV_Bold";
  font-size: 14px;
  line-height: 20px;
}

.button-no-thanks {
  border: none;
  background: none;
  color: #ffffff;
  font-family: "InterV_Bold";
  font-size: 14px;
  line-height: 20px;
}

.bookmark-button {
  border: none;
  background-color: #ffffff;
}

.filter-button {
  background-color: inherit;
  width: 63px;
  height: 63px;
  border-radius: 5px;
  border: none;
  color: rgba(29, 29, 27, 0.5);
  font-family: "InterV_Semi";
  line-height: 14px;
  letter-spacing: 0.1px;
}

.button-search {
  height: 40px;
  width: 95px;
  background-color: #bb1e1e;
  border: none;
  border-radius: 6px;
  margin: 5px;
  color: #ffffff;
  font-family: "InterV_Bold";
  font-size: 15px;
  line-height: 20px;
}

.filter-list {
  display: flex;
  flex-direction: column;
  width: 63px;
  height: 415px;
  gap: 10px;
}

.article-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 23px;
}

.article-card {
  display: flex;
  flex-direction: column;
  height: 252px;
  width: 321px;
  border-radius: 8px;
  background-color: #ffffff;
}
.article-card .article-img {
  width: auto;
  height: 140px;
  border-radius: 8px 8px 0px 0px;
}

.article-body-footer-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 16px;
  gap: 31px;
}

.article-card-body {
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-family: "InterV_Medium";
  font-size: 16px;
  line-height: 20px;
}
.article-card-body a {
  color: #000000;
  text-decoration: none;
}

.article-card-footer {
  color: #979797;
  font-family: "InterV";
  font-size: 14px;
  line-height: 14px;
}

.latest-news-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 529px;
  width: 321px;
  border-radius: 8px;
  margin-top: 35.2px;
}

.latest-news-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  gap: 10px;
}
.latest-news-header h4 {
  color: #000000;
  font-family: "InterV_Medium";
  font-size: 16px;
  line-height: 20px;
}

.latest-news-articles {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  padding-left: 15px;
  padding-right: 16px;
  gap: 14px;
  overflow-y: scroll;
}

.latest-news-articles::-webkit-scrollbar {
  height: 68px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2392156863);
  border-radius: 2px;
}

.latest-news-article {
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-bottom: 1px solid #f4f5f8;
  padding-bottom: 13px;
}
.latest-news-article .publish-time {
  color: #1e71bb;
  font-family: "InterV_Bold";
  font-size: 15px;
  line-height: 16px;
}
.latest-news-article .title {
  color: #000000;
  font-family: "InterV_Medium";
  font-size: 16px;
  line-height: 20px;
}

.latest-news-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  padding-left: 14px;
  height: 51px;
  width: 321px;
  color: #1e71bb;
  font-family: "InterV_Medium";
  font-size: 18px;
  line-height: 20px;
}

.favourites {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #979797;
  flex-wrap: wrap;
  margin-top: 10px;
}

.favourites-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 22px;
}

@media (max-width: 1110px) {
  .container {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media (max-width: 950px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .navbar .navbar-text {
    margin-left: 25px;
    gap: 10px;
  }
  .navbar .navbar-buttons {
    margin-right: 100px;
  }
  .container {
    margin: 0;
  }
}
@media (max-width: 751px) {
  body {
    margin: 24px 16px 28px;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    background-color: inherit;
    justify-content: space-between;
    gap: 213px;
  }
  .navbar .navbar-text {
    margin-left: 0;
  }
  .navbar .navbar-buttons {
    margin: 0;
  }
  .navbar span {
    font-family: "InterV";
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
  }
  .navbar .title-first-span {
    color: #bb1e1e;
  }
  .navbar .title-second-span {
    color: #1d1d1b;
  }
  .article-list-wrapper {
    padding: 0;
  }
  .wrapper {
    padding-top: 20px;
    padding-bottom: 32px;
    border: none;
  }
  .mobile-buttons {
    display: flex;
    justify-content: center;
    gap: 33px;
  }
  .mobile-buttons .button-mobile, .mobile-buttons .button-mobile-active {
    background-color: inherit;
    height: 40px;
    width: 102px;
    border-radius: 20px;
    border: none;
    font-style: italic;
    color: #1d1d1b;
    font-family: "InterV";
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  .mobile-buttons .button-mobile-active {
    color: #bb1e1e;
    background-color: rgba(187, 30, 30, 0.1);
  }
  .inner-container {
    justify-content: center;
  }
  .filter-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
  }
  .filter-list a {
    text-decoration: none;
  }
  .filter-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    height: 95px;
    width: 95px;
    border-radius: 5px;
  }
}
/*
@media (max-width: 1110px) {

}

@media (max-width: 950px) {

}

@media (max-width: 751px) {

}
*/
/*** Forwards ***/

/*# sourceMappingURL=style.css.map */
